#root {
	margin: 0 0 15px 0;
	.user-list,
	.search-list {
		input {
			margin-bottom: 20px;
		}
		.list-group {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			.list-group-item {
				margin: 0 30px 30px 0;
				border-radius: 5px;
				text-transform: capitalize;
				max-width: 22.5%;
				width: 100%;
				&:nth-child(4n) {
					margin-right: 0;
				}
				p {
					margin: 10px 0;
				}
			}
		}
	}
	.friend-list {
		span {
			margin: 0 30px;
			text-transform: capitalize;
		}
	}
	.user-list,
	.friend-list {
		p {
			margin: 24.5px 0;
		}
	}
}