#root {
	margin: 0 0 15px 0;
	.menu {
		display: flex;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		a {
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50px;
			width: 150px;
			border: 1px solid #007bff;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			transition: all .3s;
			&:hover {
				background-color: #007bff;
				color: #fff;
				height: 60px;
			}
			&:not(:first-child) {
				margin-left: 1px;
			}
		}
	}
	.user-list,
	.search-list {
		input {
			margin: 0 auto 11px;
			max-width: 54.5%;
			width: 100%;
		}
		.list-group {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			.list-group-item {
				margin: 0 30px 30px 0;
				border-radius: 5px;
				text-transform: capitalize;
				max-width: 22.5%;
				width: 100%;
				&:nth-child(4n) {
					margin-right: 0;
				}
				p {
					margin: 10px 0;
				}
			}
		}
	}

	.friend-list {
		span {
			margin: 0 30px;
			text-transform: capitalize;
		}
	}

	.user-list,
	.friend-list {
		p {
			margin: 24.5px 0;
		}
	}
	.user-list,
	.friend-list,
	.search-list {
		margin-top: 80px;
		p {
			text-align: center;
		}
	}

}